# Exclude files and directories from the Docker build context.
# This helps to keep the image small and speeds up the build process.

# Node.js
node_modules
npm-debug.log
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Development
README.md
deployment/
.env
